body, html {
    height: 100%;
    margin: 0;
}
header{
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
.list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.list > li {
    float: left;
}
#logo{
    float: left;
}
#cart-list{
    float: right;
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
}
#menu-list > li {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}
#cart-list > li {
    padding-top: 2%;
}
a{
    color: #000;
    text-decoration: none;
}
main{
    padding-top: 6%;
}
#background{
    width: 100%;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    text-transform: none;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
#dropdown-cart{
    right: 0;
}
.title-cart{
    display: inline;
}
.img-cart{
    float: left;
    margin-right: 20px;
}
.close-button-cart{
    width: 15px;
    margin-left: 20px;
}